; EditorConfig configuration, so if your editor supports it, it will
; automatically pick up the code conventions. This is pretty limited, but should
; be a good start. (Comply with the Sun/Oracle Java Guidelines)

; top-most EditorConfig file
root = true

; End all files with a new lineline
; The end_of_line character isn't specified
; Strip all trailing whitespace
[*]
insert_final_newline     = true
trim_trailing_whitespace = true

; Java specific options use a 4 space indentation, but a tab is 8 spaces
; From their documentation: Tabs must be set exactly every 8 spaces (not 4).
[*.java]
indent_style = space
indent_size  = 4
tab_width    = 8

; Indention settings for the css files
[*.css]
indent_style = space
indent_size  = 4

; Indention settings for the templates (.ftl)
[*.ftl]
indent_style = space
indent_size  = 4

; Indention settings for the js files
[*.js]
indent_style = space
indent_size  = 4

; Indention settings for the xml files
[*.xml]
indent_style = space
indent_size  = 4

