<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2013 International Institute of Social History

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <bean id="myCustomProperties" class="org.socialhistoryservices.utils.PropertiesLoader">
      <constructor-arg index="0" value="customProperties" />
      <constructor-arg index="1">
        <list>
          <value>prop_permissionPageLen</value>
          <value>prop_permissionMaxPageLen</value>
          <value>prop_permissionPageStepSize</value>
          <value>prop_requestPageLen</value>
          <value>prop_requestLatestTime</value>
          <value>prop_requestAutoPrintStartTime</value>
          <value>prop_requestMaxPageLen</value>
          <value>prop_requestMaxDaysInAdvance</value>
          <value>prop_requestPageStepSize</value>
          <value>prop_requestMaxItems</value>
          <value>prop_dateFormat</value>
          <value>prop_dbUsername</value>
          <value>prop_dbPassword</value>
          <value>prop_dbDriver</value>
          <value>prop_dbUrl</value>
          <value>prop_dbDialect</value>
          <value>prop_mailEnabled</value>
          <value>prop_mailHost</value>
          <value>prop_mailPort</value>
          <value>prop_mailSystemAddress</value>
          <value>prop_urlSelf</value>
          <value>prop_urlSearch</value>
          <value>prop_pidSeparator</value>
          <value>prop_itemSeparator</value>
          <value>prop_holdingSeparator</value>
          <value>prop_apiProto</value>
          <value>prop_apiDomain</value>
          <value>prop_apiBase</value>
          <value>prop_apiPort</value>
          <value>prop_loadInitialData</value>
          <value>prop_sorAddress</value>
          <value>prop_payWayAddress</value>
          <value>prop_payWayPassPhraseIn</value>
          <value>prop_payWayPassPhraseOut</value>
          <value>prop_payWayProjectName</value>
          <value>prop_ldapManagerDn</value>
          <value>prop_ldapManagerPassword</value>
          <value>prop_ldapUserSearchFilter</value>
          <value>prop_ldapUserSearchBase</value>
        </list>
      </constructor-arg>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:order="#{T(org.springframework.core.Ordered).HIGHEST_PRECEDENCE}">
        <property name="properties" ref="myCustomProperties"/>
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>


    <!-- Date format -->
    <bean id="dateFormat" class="java.text.SimpleDateFormat">
      <constructor-arg index="0" value="${prop_dateFormat}"/>
      <property name="lenient" value="false"/>
    </bean>
</beans>
